<table>
  <tr>
    <th>ID </th>
    <th>Email </th>
    <th>FirstName </th>
    <th>LastName </th>
    <th>Phone </th>
    <th>Image </th>
  <tr>

    <% @users.each do |user| %>
  <tr>
    <td><%= user.id %></td>
    <td><%= user.email %></td>
    <td><%= user.first_name %></td>
    <td><%= user.last_name %></td>
    <td><%= user.phone %></td>
    <td><%= image_tag(user.image_thumb_url) if user.image_thumb_url %></td>
    <td><%= link_to  "Show", user_path(user) %></td>
    <td><%= link_to  "Edit", edit_user_path(user) %></td>
    <td><%= link_to  "Destory", user_path(user), method: :delete, data: { confirm: "Are you sure?" } %></td>
  </tr>
  <% end %>
</table>